#btns {
	border-radius:0px;
	background-color: #fff;
	border-color: #fff;
    height: 30px;
    width: 55px;
    padding: 0px 0px;
    font-size: 20px;
    color: #989a9b;
    border-radius: 0px;
    margin-bottom: 10px;
}

#btns i{
	background-color: #989A9B;
}

.navbtns {
    background-color: #337ab7;
}

.nextroom {
    float: right;
    border-radius: 0px;
    margin-top: 20px;
    margin-right: 95px;
}

.previousroom {
    border-radius: 0px;
    margin-left: 20px;
    margin-top: 20px;
}

.nav-pills>li,
.nav-pills>li:hover,
.nav-pills>li>a:hover{
    background-color: #337ab7;
}


.nav-pills>li:active{
    background-color: #5cb85c;
}

.itemsheader{
    margin-left: 20px;
    margin-top: 0px;
}

.itemsboxes{
    margin-top: 20px;
    margin-left: 20px;
    background-color: #f2f2f2;
    width: 200px;
}